<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" [ngClass]="
    {
        'defaultdark': color == 'defaultdark',
        'greendark': color == 'greendark',
        'reddark': color == 'reddark',
        'bluedark': color == 'bluedark',
        'purpledark': color == 'purpledark',
        'megnadark': color == 'megnadark',
        'default': color == 'default',
        'green': color == 'green',
        'red': color == 'red',
        'blue': color == 'blue',
        'purple': color == 'purple',
        'megna': color == 'megna', 
        'mini-sidebar': showMinisidebar,
        'dark-theme': showDarktheme
    }
">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    
    <ap-navigation></ap-navigation>
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar" [perfectScrollbar]="config">
            <ap-sidebar></ap-sidebar>
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <breadcrumb></breadcrumb>
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <router-outlet></router-outlet>
            <!-- ============================================================== -->
            <!-- End Start Page Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Setting Right sidebar -->
            <!-- ============================================================== -->
            <button class="right-side-toggle btn-inverse btn btn-circle btn-lg" (click)="showSettings = !showSettings"><i class="ti-settings text-white fa-spin"></i></button>
            <div class="right-sidebar" [ngClass]="{'shw-rside': showSettings}">
                <div class="slimscrollright">
                    <div class="rpanel-title"> Settings <span><i class="ti-close right-side-toggle" (click)="showSettings = !showSettings"></i></span> </div>
                    <div class="r-panel-body" [perfectScrollbar]="config">
                        
                        <ul>    
                            <li class="m-b-20 m-t-20"><b>Light Sidebar / Colors</b></li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="default" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Default</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="green" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-success">Green</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="red" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-danger">Red</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="blue" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-info">Blue</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="purple" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-purple">Purple</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="megna" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-megna">Megna</span>
                                    </label>
                                </div>
                            </li>
                        </ul>    
                            <hr>
                        <ul>    
                            <li class="m-b-20"><b>Dark Sidebar / Colors</b></li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="defaultdark" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Default</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="greendark" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-success">Green</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="reddark" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-danger">Red</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="bluedark" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-info">Blue</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="purpledark" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-purple">Purple</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input" name="radio-stacked" type="radio" value="megnadark" [(ngModel)]="color">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-megna">Megna</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <hr>
                        <ul>
                            <li class="m-b-20 m-t-20"><b>General Setting</b></li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input class="custom-control-input sidebartoggler" type="checkbox" [(ngModel)]="showMinisidebar">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Mini Sidebar</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" [(ngModel)]="showDarktheme" class="custom-control-input"> 
                                        <span class="custom-control-indicator"></span> 
                                        <span class="custom-control-description">Dark Theme</span> 
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->    
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        © 2018 Admin Press Angular by wrappixel.com
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    
</div>
